{% extends 'Base.html' %}
{%load static%}
{%block title%}{{project.title}}{%endblock%}
{%block desc%}{{project.overview}}{%endblock%}
{%block content%}
    <section class="project-cs-hero">
      <div class="project-cs-hero__content">
        <h1 class="heading-primary">{{project.Home_Title}}</h1>
        <div class="project-cs-hero__info">
          <p class="text-primary">
          {{project.overview}}
          </p>
        </div>
        <div class="project-cs-hero__cta">
          <a href="{{project.link}}" class="btn btn--bg" target="_blank">Live Link</a>
        </div>
      </div>
    </section>
    <section class="project-details">
      <div class="main-container">
        <div class="project-details__content">
          <div class="project-details__showcase-img-cont">
            <img
              src="{% static project.image %}"
              alt="Project Image"
              class="project-details__showcase-img"
            />
          </div>
          <div class="project-details__content-main">
            <div class="project-details__desc">
              <h3 class="project-details__content-title">Project Overview</h3>
              <p class="project-details__desc-para">
                {{project.short_desc | safe}}
              
              </p>
            </div>
            <div class="project-details__tools-used">
              <h3 class="project-details__content-title">Tools Used</h3>
              <div class="skills">
                {% for skill in skills%}
                <div class="skills__skill">{{skill}}</div>
              {%endfor%}
              </div>
            </div>
            <div class="project-details__links">
              <h3 class="project-details__content-title">See Live</h3>
              <a
                href="{{project.link}}"
                class="btn btn--med btn--theme project-details__links-btn"
                target="_blank"
                >Live Link</a
              >
              {% comment %} <a
                href="#"
                class="btn btn--med btn--theme-inv project-details__links-btn"
                target="_blank"
                >Code Link</a
              > {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </section>
   {%endblock%}
